.btn-admindashboard{
    background-image: linear-gradient(#3068ff,#6bb8e9);
    height: 38px;
    width: 80px;
    color: white;
    font-size: large;
    padding: 5px 5px 5px 5px;
    border: #3068ff;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
     
}
.btn-admindashboard:hover{
    background-image: linear-gradient(#0086f3,#3068ff);
      transform: translateY(1px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  
}

.search-bar{
    width: 400px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    margin-top: 15px;
    margin-right: 20px;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-image: linear-gradient(#3068ff,#6bb8e9);
}
.nav-item{
    font-size: 22px !important
}
.navbar-brand{
    font-size: 30px !important;
    font-weight: bold;
}
.action-btn{
    background-image: linear-gradient(#3068ff,#6bb8e9);
    border: none !important;
    box-shadow: none !important ;
    font-size: 22px !important; 
}
.nav-tabs .nav-link.active{
    background-image: linear-gradient(#3068ff,#6bb8e9);
    color:#fff !important;
}