*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.nav{
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: blue;

}
.nav img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.intro a{
    text-decoration: none;
    color: white;
    justify-content: space-between;
    margin-left: 5px;

}
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.intro a:hover{
    color: red;
}
.logo span{
     display: flex;
    justify-content: left;
    color: white;
    font-size: 30px;
    margin-left: 15px;
}

/* .hname{
    display: flex;
    justify-content: left;
    color: white;
    font-size: 30px;
} */
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.content{
    display: flex;
    flex: 1;
    padding: 20px;
    align-items: left;
}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right{
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}
.right img{
   width: 80%;
   height: 450px; 
}
.form{
    
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgb(213, 182, 182);
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;

}
.card{
    height: 300px;
    width: 26%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(237, 180, 173);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    /* border-radius: 50%; */
    height: 110px;
    align-items: left;
    width: 80%;
}
.card p{
    padding: 0px 10px;
    text-align: left;
}
.card span{
    text-align: right;
}
.contact a{
    font-size:x-large ;
    text-decoration: none;
    padding: 10px;

}
.contact a:hover{
    color: red;
}

.footer span{
    height: 30px;
    padding: 5px;
    border: 2px;
   background-color: black;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}