*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.nav{
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: blue;

}
.nav img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.intro a{
    text-decoration: none;
    color: white;
    justify-content: space-between;
    margin-left: 5px;

}
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.intro a:hover{
    color: red;
}
.logo span{
     display: flex;
    justify-content: left;
    color: white;
    font-size: 30px;
    margin-left: 15px;
}

/* .hname{
    display: flex;
    justify-content: left;
    color: white;
    font-size: 30px;
} */
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.content{
    display: flex;
    flex: 1;
    padding: 20px;
    align-items: left;
}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.right{
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}
.right img{
   width: 80%;
   height: 450px; 
}
.form{
    
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgb(213, 182, 182);
}